<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ZebraTestingSuite">
   <test name="Zebra Tests">
        <classes>
            <class name="TestNGpackage.ZebraURL">
                <methods>
                    <include name="closePopupAndTakeHomepageScreenshot"/>
                    <include name="navigateToDifferentSections"/>
                    <include name="searchPartnerByABC"/>
                    <include name="searchPartnerByWave"/>
                    <include name="fillPartnerContactForm"/>
                </methods>
            </class>
            <class name="TestNGpackage.POMsecondscneario">
            </class>
        </classes>
    </test>
</suite>

